<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Template sample</title>

<!-- bootstrap -->
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet"/>
<!-- summernote -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.css" rel="stylesheet"/>

<!-- requireJS -->
<script data-main="/js/cms/app.js" src="/js/cms/core/require.js"></script>
</head>

<body>
	<h1>템플릿 작성/수정</h1>

    <div id="editor">
	</div>
</body>
</html>
